<!DOCTYPE html>
<html>
<head>
	<title>Delete a book </title>
</head>
<body>
<form method="POST" action="/delete">
	<a href="/">Return to Home</a>
	<br />
	<br />
	<fieldset>
		<label for="name">ID: </label>
		<input type="text" name="ID" />
		<br /> <br />

		<input type="submit" value="Delete" />
	</fieldset>
</form>
</body>
</html>