<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body>
<ul>
	<li><a href="/books">All Books</a></li>
	<li><a href="/new">Create new book</a></li>
	<li><a href="/edit">Update a Book</a></li>
	<li><a href="/delete">Delete a book</a></li>
</ul>
</body>
</html>